.museo {
  font-family: "museo-slab",serif;
  font-style: normal;
  font-weight: 300;
  font-family: "museo-slab",serif;
  font-style: italic;
  font-weight: 300;
  font-family: "museo-slab",serif;
  font-style: normal;
  font-weight: 700;
  font-family: "museo-slab",serif;
  font-style: italic;
  font-weight: 700; }

.brandon {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 400;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: "brandon-grotesque",sans-serif;
  font-style: italic;
  font-weight: 900; }

.conquerer-sans {
  font-family: "aw-conqueror-sans",sans-serif;
  font-style: normal;
  font-weight: 300; }

.din-light {
  font-family: "ff-din-web",sans-serif;
  font-style: normal;
  font-weight: 300; }
